version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: "GitHub Actions"
    include: "scope"
- package-ecosystem: maven
  directory: "/lang/"
  schedule:
    interval: daily
  commit-message:
    prefix: "Maven"
    include: "scope"
  groups:
    ecore:
      patterns:
      - "org.eclipse.emf:org.eclipse.emf.ecore*"
      - "org.eclipse.xtext:org.eclipse.xtext:*"
    jte:
      patterns:
      - "gg.jte:*"
    lsp4j:
      patterns:
      - "org.eclipse.lsp4j:*"
    vitruv:
      patterns:
      - "tools.vitruv:tools.vitruv.change.*"
    junit:
      patterns:
      - "org.junit.jupiter:junit-jupiter-*"
- package-ecosystem: npm
  directory: "/vscode-plugin/"
  schedule:
    interval: daily
  commit-message:
    prefix: "NPM"
    include: "scope"
  groups:
    eslint:
      patterns:
      - "@eslint/js"
      - "eslint"